@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;600&display=swap');

* {
    font-family: 'Outfit', sans-serif;
}
.profile {
    background-color: #EDEEEF;
    height: auto;
}